@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment        
        - Color
        - Size

/*--------------------------------------------------------------
3.0 -GENERIC 
-------------------------------------------------------------- */

js {
  scroll-behavior:smooth;
}

	* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
}


/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */
nav a:hover {
	color:#FA0408;
	
}

nav {
	margin-bottom: 40px;
	text-align:center;
}


li {
margin: 10px;
display: inline;
}

a {
	font-size: 20px;
	color:#000;
	text-decoration: none;
}



h2, h3 {
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}


h3 {
	padding-top: 100px;
	border-top:3px solid #C2C2C2; 
	font-size: 30px;
}





/*--------------------------------------------------------------
5.0 - OBJECTS 
-------------------------------------------------------------- */
/*FRAMEWORK*/

.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.row {
	overflow: auto;

}


/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */
/*TYPOGRAPHY*/



#col-1 {
	margin-left: 50px;
	width: 500px;
	float: right;
}

#col-1 p {
	font-size: 30px;
	float: right;
	font-family: 'Playfair Display', serif;
	
}

#coffee-table{
	margin-left: 20px;
	float: left;
}

#vertical-headline-top {
	margin:50px;
}

#vertical-headline-top {
	padding-top: 270px;
	float: left;
	transform: rotate(270deg);
}

#header-one-square {
	margin-right: 60px;
	float:right;
	height: 400px;
	width: 300px;
}


#vertical-headline-mid {
	margin: 100px 0px 0px 200px;
	float: left;
	transform: rotate(90deg);
}

#header-two-square {
	margin-top: 500px;
	height: 400px;
	width: 300px;
}

#vertical-headline-bottom {
	margin: 400px 0px 0px 100px;
	float: left;
	transform: rotate(270deg);
}




#contact p {
	text-align: center;
}


#about {
	margin-bottom: 40px;
}



#what-is-it {
	margin-left: 20px;
	margin-top: 100px;
	float:left;
}



#col-2 {
	margin: 70px 200px 10px 30px;
	width: 300px;
	float: left;
}


#col-2 p {
	padding: 10px;
	margin: 15px;
}



#header-three-square {
	float: right;
	height: 500px; 
	width: 450px;
}


#col-3-1{
	float: right;
	width: 250px;
}

#blog {
	margin-top: 100px;
}

#col-kara {
	margin: 150px 100px 0px 0px;
	float: left;
	width: 300px;
}
 
#founder-image {
	float: left;
	margin-top: 300px;
}



/*COLOR*/

.fa-lock {
margin-bottom: 40px;
float: right;
}

.learn-btn a {
	background-color:#FA0408;
	color: #FDFAFA;
 	 -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
}

.learn-btn a:hover {
	background-color:#FB8284;
}


.border-wrapper p, #website-link, #blk-wrapper p {
	text-align: center;
}

#blk-wrapper {
	background-color: #000;
	padding: 20px;
}

#blk-wrapper p{
	color:#FCFBFB;
}

#header-one-square, #header-two-square, #header-three-square {
	background-color:#F8CEA9;
}

/*--------------------------------------------------------------
7.0 - UTILITES
-------------------------------------------------------------- */




